<div class="container" style="padding: 13px;">
    <div class="row">
        <div class="col">
        <h1 class="text-center">Pokemon list</h1>
    </div>
</div>
        <div class="row">
            <div *ngFor="let pokemon of pokemonsData" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" style="margin-top:10px;">
                <a href="profile/{{pokemon.id}}">
                <div class="card z-depth-3 CharacterItem LoadMoreBox" >
                        <div className="card-image " >
                            <img [src]="pokemon.sprites.front_default" class="z-depth-4 CharacterItemImg ImageAnimation" alt={{pokemon.name}} /> 
                        </div>
                        <div class="card-content cardFixedHeight" >
                            <p>{{pokemon.name}}</p>
                        </div>
                </div>
            </a>
            </div>
            <div (click)="getMorePokemons()"  class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 " style="margin-top:10px;">
                <div class="card z-depth-3 CharacterItem LoadMoreBox" >
                        <div className="card-image " >
                            <img src="https://pbs.twimg.com/profile_images/558750489152458752/pBBTFL0j.png" class="z-depth-4  ImageAnimation" alt="Load more" /> 
                        </div>
                        <div class="card-content cardFixedHeight" >
                            <p>Load more...</p>
                        </div>
                </div>
            </div>
</div>

</div>
<!-- 
back_default: "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/16.png"
back_female: null
back_shiny: "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/shiny/16.png"
back_shiny_female: null
front_default: "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/16.png"
front_female: null
front_shiny: "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/16.png"
front_shiny_female: null -->