.cardFixedHeight {
    min-height: 6.3rem;
    text-align: center;
    align-content: center;
    font-size: 1.2rem;
}

.CharacterItem {
    border-radius: 1rem!important;
}

.CharacterItemImg {
  background-color: white;
    
}


.LoadMoreBox:hover {
    cursor: pointer;
    background-color: rgb(212, 189, 228);
  }
  
.LoadMoreBox {
    background-color: white;

    transition: all .3s ease-out;
  }
  .ImageAnimation:hover {
    border-radius: 40%;
    width: 100%;
  }
  
.ImageAnimation {
  border-radius: 50%;
    width: 100%;
    transition: all .2s ease-out;
  }
  