<div class="container m-5">
    <div class="row pt-5 m-5">
        <div  class="col">
            <img *ngIf="pokemon !== undefined" class="z-depth-4 CharacterItemImg" [src]="pokemon.sprites.front_default" alt={{pokemon.name}} />
        </div>
        <div class="col">
            <p class="CharacterInfoText"><b>Name:</b> {{pokemon.name}}</p>
            <p class="CharacterInfoText"><b>Weight:</b> {{pokemon.weight}}</p>
            <p class="CharacterInfoText"><b>Height:</b> {{pokemon.height}}</p>
            <p class="CharacterInfoText"><b>Abilities:</b></p>
    <!-- <div *ngFor="let pokemon of pokemonsData" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" style="margin-top:10px;"> -->
            <ol  >
                <li style="font-size: 1.2rem" *ngFor="let ability of pokemon.abilities">{{ ability.ability.name }}</li>
            </ol>
            
            <!-- {character.type && <p className={Styles.CharacterInfoText}><b>Type:</b> {character.type}</p>} -->
            <!-- <p class="CharacterInfoText"><b>Gender:</b> {character.gender}</p> -->
            <!-- <p class="CharacterInfoText"><b>Created:</b> {character.created}</p> -->
        </div>
    </div>
</div>